.path-mod-courseflow .flowdisplay {
    width: 100%;
    min-height: 20%;
    margin: 0px;
}

.path-mod-courseflow .flowstep {
    margin: 0;
    padding: 3px;
}

.path-mod-courseflow .headerwrap {
    font-weight: bold;
}

.path-mod-courseflow .stepname {
    display: inline-block;
    width: 25%;
    margin: 0 5px 0 0;
    background-color: #def2f8;
    vertical-align: middle;
}

.path-mod-courseflow .activitywrap {
    display: inline-block;
    width: 25%;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
}

.path-mod-courseflow .activityselector {
    width: 25%;
}

.path-mod-courseflow .parentselector {
    width: 100%;
}

.path-mod-courseflow .checkboxinfo {
    display: inline-block;
    width: 5%;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
}

.path-mod-courseflow .btnset {
    display: inline-block;
    width: 10%;
    margin: 0 5px 0 0;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
}

.path-mod-courseflow .btn-flowstepcolour {
    width: 60%;
    border-style: none;
}

.path-mod-courseflow.cf-container {
    width: 100%;
    position: relative;
}

.path-mod-courseflow canvas {
    position: absolute;
}

.path-mod-courseflow div[class^=cf-hex-mid] {
    overflow: hidden;
    padding: 5px;
}

.path-mod-courseflow div.cf-txtholder {
    display: flex;
    align-items: center;
    height: 100%;
}

.path-mod-courseflow div[class^=cf-hex-].cf-notavail {
    cursor: none;
}

.path-mod-courseflow p[id^=cf-hex-txt-].cf-hex-txt {
    margin: auto !important;
    text-align: center !important;
}

@media (max-width: 400px) {
    .path-mod-courseflow p[id^=cf-hex-txt-].cf-hex-txt {
        line-height: 1rem;
    }
}