.path-mod-courseflow .flowdisplay {
    width: 100%;
    min-height: 20%;
    margin: 0px;
}

.path-mod-courseflow .flowstep {
    margin: 0;
    padding: 3px;
}

.path-mod-courseflow .headerwrap {
    font-weight: bold;
}

.path-mod-courseflow .stepname {
    display: inline-block;
    width: 25%;
    margin: 0 5px 0 0;
    background-color: #def2f8;
    vertical-align: middle;
}

.path-mod-courseflow .activitywrap {
    display: inline-block;
    width: 25%;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
}

.path-mod-courseflow .activityselector {
    width: 25%;
}

.path-mod-courseflow .parentselector {
    width: 100%;
}

.path-mod-courseflow .headerhelp {
    text-decoration-style: dotted;
    cursor: help;
}

.path-mod-courseflow .checkboxinfo {
    display: inline-block;
    width: 5%;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
}

.path-mod-courseflow .restrictedinfo {
    display: inline-block;
    width: 12%;
    margin: 0 0 0 0;
    text-align: left;
    vertical-align: top;
    font-size: x-small;
}

.path-mod-courseflow .btnset {
    display: inline-block;
    width: 10%;
    margin: 0 5px 0 0;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
}

.path-mod-courseflow .btn-flowstepcolour {
    width: 60%;
    border-style: none;
}

.path-mod-courseflow.cf-container {
    width:100%;
    display: grid; align-items:stretch; justify-items:stretch; grid-template-rows: repeat(5, 100px); grid-template-columns: repeat(5, 100px);
}
.path-mod-courseflow div.cf-outer-hex,
.path-mod-courseflow div.cf-outer-hex:active {
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: border-box;
}
.path-mod-courseflow div.cf-outer-hex.cf-notavailable {
    background-image: url([[pix:mod_courseflow|basehex_down2]]);
    color: white;
}
.path-mod-courseflow div.cf-outer-hex.cf-hidden {
    background-image: url([[pix:mod_courseflow|basehex_hidden2]]);
    color:black;
}
.path-mod-courseflow div.cf-outer-hex.cf-available {
    background-image: url([[pix:mod_courseflow|basehex_up_half2]]);
    color: black;
}
.path-mod-courseflow div.cf-outer-hex.cf-deleted {
    background-image: url([[pix:mod_courseflow|basehex_deleted2]]);
    color: red;
}
.path-mod-courseflow div.cf-outer-hex.cf-next {
    background-image: url([[pix:mod_courseflow|basehex_up2]]);
    color: black;
}
.path-mod-courseflow div.cf-outer-hex.cf-suggested {
    background-image: radial-gradient(circle, rgba(255,255,0,0.6) 25%, rgba(255,255,0,0) 75%), url([[pix:mod_courseflow|basehex_up2]]);
    color: black;
}
.path-mod-courseflow div.cf-available:active,
.path-mod-courseflow div.cf-next:active {
    background-image: url([[pix:mod_courseflow|basehex_clickeddown]]);
}
.path-mod-courseflow div.cf-outer-hex.cf-suggested {
    background-image: radial-gradient(circle, rgba(255,255,0,0.6) 25%, rgba(255,255,0,0) 75%), url([[pix:mod_courseflow|basehex_clickeddown]]);
    color: black;
}
.path-mod-courseflow div.cf-txtholder {
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    padding: 10%
}
.path-mod-courseflow [class^=cf-hex-].cf-notavailable,
.path-mod-courseflow [class^=cf-hex-].cf-hidden,
.path-mod-courseflow [class^=cf-hex-].cf-deleted {
    cursor: default;
}
.path-mod-courseflow p.cf-hex-txt {
    margin: auto !important;
    text-align: center !important;
    color:inherit;
}
.path-mod-courseflow a {
    color:inherit;
}

@media (max-width: 576px) {
    .path-mod-courseflow p.cf-hex-txt {
        line-height: 1rem;
    }
}
