{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_couseflow/courseflow

    Classes required for JS:
    * TODO

    Data attributes required for JS:
    * TODO

    Context variables required for this template:
    * TODO

    Example context (json):

}}
<div class="cf-teachermessage" id="cf-teachermessage-{{mod}}"></div>
<div class="path-mod-courseflow cf-container" id="cf-container-{{mod}}">
{{#flowdata}}
    <div id="cf-outer-hex-{{mod}}-{{id}}-0" class="cf-outer-hex {{cf-class}}">
        <canvas id="cf-inner-hex-{{mod}}-{{id}}-0" class="cf-inner-hex {{cf-class}}"></canvas>
        <div id="cf-hex-mid-{{mod}}-{{id}}-0" class="cf-hex-mid {{cf-class}}">
            {{#link}}<a href="{{link}}">{{/link}}
            <div class="cf-txtholder">
                <p id="cf-hex-txt-{{mod}}-{{id}}-0" class="cf-hex-txt {{cf-class}}">{{name}}</p>
            </div>
            {{#link}}</a>{{/link}}
        </div>
    </div>
{{/flowdata}}
</div>
{{#js}}
    require(['jquery','mod_courseflow/flowmain'], function($, fm) {
        fm.init({{{json}}});
    });
{{/js}}
